.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;bottom: 0;right: 0; left: 0;
}

.sidemenu {
  width: 240px;
  border: 1px solid white;
  background-color: #202123;
  padding: 12px;
}

.sidemenu-button {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25 all;
  cursor: pointer;
  margin-bottom: 10px;
}

.models select:hover, .sidemenu-button:hover {
  background-color: rgba(255,255,255,0.1);
}

.sidemenu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.models {
  display: flex;
  flex-direction: column;
}

.models label {
  margin: 10px 0;
}

.models select {
  max-width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: #202123;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.models select option {
  background-color: #202123;
  color: white;
}

.chatbox {
  flex: 1;
  border: 1px solid white;
  background-color: #343541;
  position: relative;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;left: 0; right: 0;
}

.chat-input {
  background-color: #40414f;
  color: white;
  width: 90%;
  font-size: 1.25em;
  border-radius: 5px;
  border: none;
  margin: 12px;
  padding: 12px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-log {
}

.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.avatar img {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar.chatgpt {
  background-color: #10a37f;
}

.avatar.chatgpt svg {
  border-radius: 50%;
}


.message {
  padding-left: 40px;
  padding-right: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
